# Dependencies
node_modules/

# Environment Variables
.env

# Logs
*.log

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Database
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
